/* General About Us settings */
.about-people-planet h2, .man-behind-brand h2, .so-feel-good h2 {
    margin-top: 2.25em;
    margin-bottom: 1.5em;
}

/*.about-people-planet p, .man-behind-brand p, .so-feel-good p, .about-sea p, .about-earth p, .about-communities p {
    font-size: x-large;
}*/

.about-people-planet, .about-sea, .about-earth, .about-communities, .man-behind-brand, .so-feel-good {
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 1.5em;
    
}

.article{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1.75em;
}


.vidColumn {
    display: flex;
    flex-direction: column;
}

.planet-logo {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.wave-logo {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.about-image {
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

/*Titles----------------------------*/
#aboutComms-Title, #aboutEarth-Title, #aboutSea-Title{
    background-repeat: no-repeat;
    background-size : cover;
    background-position: center;
}

#aboutSea-Title{
    padding-top: 25px;
    padding-bottom: 20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#aboutEarth-Title{
    padding-top: 25px;
    padding-bottom: 20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#aboutComms-Title{
    padding-top: 25px;
    padding-bottom: 20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.placeholder {
    visibility: hidden;
    width: 100%;
    padding-bottom: 25px;
}


/* Styling for 1st Infographic */
.info-hover1 {
    background-image: url("./assets/infographics_recycle.png"); /* Created by Group Mint. Using: Feel Good Drinks. N.d. "Every Can Counts." Issuu. Accessed June 20, 2021. https://issuu.com/feel-good-drinks/docs/feel_good_drinks_carbon_mission_possible_may2021_s?fr=sOTQ4ZjM2OTMzODU.  */
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    position: relative;
}

.info-hover1:hover {
    background-image: url("./assets/Infographic_recycle_hover.png"); /* Created by Group Mint */
    background-size: cover;
    background-position: center;
}

.info-overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .1s ease;
}

.info-hover1:hover .info-overlay1 {
    opacity: 1;
}

.info-text1 {
    position: absolute;
    text-align: center;
    top: 29%;
    left: 12%;
    font-size: 1.2vw;
    width: 70%;
}

/* Styling for 2nd Infographic */

.info-hover2 {
    background-image: url("./assets/infographic_planetmark.png"); /* Created by Group Mint. Using: Feel Good Drinks. N.d. "[Planetmark Logo]." Issuu. Accessed June 20, 2021. https://issuu.com/feel-good-drinks/docs/feel_good_drinks_carbon_mission_possible_may2021_s?fr=sOTQ4ZjM2OTMzODU.  */
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    position: relative;
}

.info-hover2:hover {
    background-image: url("./assets/Infographic_planetmark_hover.png"); /* Created by Group Mint */
    background-size: cover;
    background-position: center;
}

.info-overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .1s ease;
}

.info-hover2:hover .info-overlay2 {
    opacity: 1;
}

.info-text2 {
    position: absolute;
    text-align: center;
    top: 35%;
    left: 14%;
    font-size: 1.3vw;
    width: 70%;
}


/* Styling for 3rd Infographic */
.info-hover3 {
    background-image: url("./assets/infographic_emissions.png"); /* Created by Group Mint. Using: SVG Silh. N.d. "Measurement scales symbol democracy." Accessed June 20, 2021. https://svgsilh.com/image/311504.html.  */
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    position: relative;
}

.info-hover3:hover {
    background-image: url("./assets/Infographic_emissions_hover.png"); /* Created by Group Mint */
    background-size: cover;
    background-position: center;
}

.info-overlay3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .1s ease;
}

.info-hover3:hover .info-overlay3 {
    opacity: 1;
}

.info-text3 {
    position: absolute;
    text-align: center;
    top: 35%;
    left: 14%;
    font-size: 1.3vw;
    width: 70%;
}

/* Styling for 4th Infographic */
.info-hover4 {
    background-image: url("./assets/infographic_cans.png"); /* Created by Group Mint. Using: Vectoreps10. N.d. "Soda can icon line drink bottle symbol." Accessed June 20, 2021. https://www.vectorstock.com/royalty-free-vector/soda-can-icon-line-drink-bottle-symbol-vector-21087558.  */
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    position: relative;
}

.info-hover4:hover {
    background-image: url("./assets/Infographic_cans_hover.png"); /* Created by Group Mint */
    background-size: cover;
    background-position: center;
}

.info-overlay4 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .1s ease;
}

.info-hover4:hover .info-overlay4 {
    opacity: 1;
}

.info-text4 {
    position: absolute;
    text-align: center;
    top: 35%;
    left: 14%;
    font-size: 1.7vw;
    width: 70%;
}

/* Styling for 5th Infographic */
.info-hover5 {
    background-image: url("./assets/infographic_rucksacks.png"); /* Created by Group Mint. Using: Ryabokon, Ivan. N.d. "Backpack Icon." 123rf. Accessed June 20, 2021. https://www.123rf.com/photo_64092223_stock-vector-backpack-icon-outline-illustration-of-backpack-vector-icon-for-web.html.  */
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    position: relative;
}

.info-hover5:hover {
    background-image: url("./assets/Infographic_rucksacks_hover.png"); /* Created by Group Mint */
    background-size: cover;
    background-position: center;
}

.info-overlay5 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .1s ease;
}

.info-hover5:hover .info-overlay5 {
    opacity: 1;
}

.info-text5 {
    position: absolute;
    text-align: center;
    top: 38%;
    left: 14%;
    font-size: 1.7vw;
    width: 70%;
}

/* Styling for 6th Infographic */
.info-hover6 {
    background-image: url("./assets/infographic_co2.png"); /* Created by Group Mint. Using: Nexusby. N.d. "Co2 Carbon Dioxide Emissions." Shutterstock. Accessed June 20, 2021. https://www.shutterstock.com/image-vector/co2-carbon-dioxide-emissions-vector-icon-1432893998.  */
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    position: relative;
}

.info-hover6:hover {
    background-image: url("./assets/Infographic_co2_hover.png"); /* Created by Group Mint */
    background-size: cover;
    background-position: center;
}

.info-overlay6 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .1s ease;
}

.info-hover6:hover .info-overlay6 {
    opacity: 1;
}

.info-text6 {
    position: absolute;
    text-align: center;
    top: 28%;
    left: 15%;
    font-size: 1.7vw;
    width: 68%;
}

/* Styling for 7th Infographic */
.info-hover7 {
    background-image: url("./assets/infographic_donation.png"); /* Created by Group Mint. Using: Surur, Akhmad Sobahus. N.d. "Charity Icon." Dreamstime. https://www.dreamstime.com/charity-icon-illustration-to-commemorate-international-day-design-template-vector-image194448732.   */
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    position: relative;
}

.info-hover7:hover {
    background-image: url("./assets/Infographic_donation_hover.png"); /* Created by Group Mint */
    background-size: cover;
    background-position: center;
}

.info-overlay7 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .1s ease;
}

.info-hover7:hover .info-overlay7 {
    opacity: 1;
}

.info-text7 {
    position: absolute;
    text-align: center;
    top: 25%;
    left: 15%;
    font-size: 1.7vw;
    width: 68%;
}

/* RESPONSIVE - IPAD PRO Styling -------------------*/
@media all and (max-width: 1024px){
    /* General About Us settings */
    .about-people-planet h2, .man-behind-brand h2, .so-feel-good h2 {
        margin-top: 1.5em;
    }

    .about-people-planet, .about-sea, .about-earth, .about-communities, .man-behind-brand, .so-feel-good {
        margin: 0 2em;
    }

    .info-text1 {
        font-size: 1.5vw;
        left: 14%;
        width: 67%;
    }

    .info-text2 {
        font-size: 1.6vw;
        top: 40%;
        left: 15%;
    }

    .info-text3 {
        font-size: 1.6vw;
        top: 40%;
        width: 67%;
    }

    .info-text4 {
        font-size: 1.8vw;
        top: 40%;
        left: 15%;
    }

    .info-text5 {
        font-size: 1.9vw;
        top: 40%;
        left: 16%;
        width: 67%;
    }

    .info-text6 {
        top: 40%;
        left: 16%;
        font-size: 1.8vw;
        width: 66%;
    }

    .info-text7 {
        top: 40%;
        left: 17%;
        font-size: 1.8vw;
        width: 66%;
    }

    
    /*Titles----------------------------*/
    #aboutSea-Title{
        padding-top: 25px;
        padding-bottom: 20px;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }

    #aboutEarth-Title{
        padding-top: 25px;
        padding-bottom: 20px;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    #aboutComms-Title{
        padding-top: 25px;
        padding-bottom: 20px;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }
}

/* RESPONSIVE - TABLET Styling -------------------*/
@media all and (max-width: 768px){
    /* General About Us settings */
    .about-people-planet h2, .man-behind-brand h2, .so-feel-good h2 {
        margin-top: 1.25em;
    }

    .about-people-planet p, .man-behind-brand p, .so-feel-good p, .about-sea p, .about-earth p, .about-communities p {
        font-size: initial;
    }
    
    .info-text1 {
        font-size: 1.5vw;
        width: 67%;
    }

    .info-text2 {
        font-size: 1.6vw;
        top: 40%;
        left: 16%;
        width: 68%;
    }

    .info-text3 {
        width: 63%;
        left: 17%;
    }

    .info-text4 {
        width: 65%;
        left: 17%;
    }

    .info-text5 {
        font-size: 2vw;
    }

    .info-text6 {
        top: 42%;
    }

    .info-text7 {
        top: 36%;
    }

    /*Titles----------------------------*/
    #aboutSea-Title {
        padding-top: 25px;
        padding-bottom: 20px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }

    #aboutEarth-Title {
        padding-top: 25px;
        padding-bottom: 20px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    #aboutComms-Title{
        padding-top: 25px;
        padding-bottom: 20px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }
}

@media all and (max-width: 576px) {
    .info-text1 {
        font-size: 3.5vw;
    }

    .info-text2 {
        font-size: 4vw;
    }

    .info-text3 {
        font-size: 4vw;
        width: 65%;
        left: 16%;
    }

    .info-text4 {
        font-size: 4.3vw;
        top: 37%;
        width: 67%;
    }

    .info-text5 {
        font-size: 4.3vw;
        top: 37%;
        width: 67%;
    }

    .info-text6 {
        font-size: 4.2vw;
        width: 65%;
        top: 28%;
    }

    .info-text7 {
        font-size: 4.2vw;
        width: 65%;
        top: 26%;
    }
}

/* RESPONSIVE - MOBILE Styling -------------------*/
@media all and (max-width: 425px){
    /* General About us stylings--------------*/
    .about-people-planet,.about-sea,.about-earth,.about-communities, .man-behind-brand, .so-feel-good{
        margin: 0 0.5em;
       
    }

    .about-people-planet h2, .man-behind-brand h2, .so-feel-good h2 {
        margin-top: 1em;
    }

    .article{
        display: flex;
        flex-direction: column;
    }

    .info-text1 {
        font-size: 4vw;
    }

    .info-text3{
        left: 15%;
    }

    .info-text4 {
        width: 65%;
        left: 17%;
        font-size: 4.5vw;
    }

    .info-text5 {
        font-size: 4.5vw;
    }

    .info-text6 {
        top: 32%;
        left: 17%;
    }

    .info-text7 {
        top: 36%;
        left: 18%;
    }

   /*Titles-----------------------------------------------------*/
   #aboutSea-Title{
        padding-top: 25px;
        padding-bottom: 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }

    #aboutEarth-Title{
        padding-top: 25px;
        padding-bottom: 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    #aboutComms-Title{
        padding-top: 25px;
        padding-bottom: 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }
}

