body {
  font-family: 'Quicksand', sans-serif;
}

/* 
Sidebar styling
*/

/* Make the menu fixed to the top of the page */
header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: rgb(0 0 0 / 30%) 0px 0px 35px -20px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 15; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: #c9deff;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  right: 0px;
}

/* Style the burger menu */
nav .btn {
  color: white;
  font-size: larger;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

nav p {
  color: white;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav a:hover {
  color: #212529;
}

a.btn {
  border: 1px solid rgb(75, 75, 75) !important;
}

.splash-image {
  width: 100%;
}

.planet-animation {
  width: 65%;
}


/*
Contact Page
*/

/*Make required asterix on form red*/
.form-required {
  color: red;
}

/*Add padding to the form*/
.form {
  padding: 15px;
}

/*Add padding to the form fields*/
.form-field {
  padding-top: 30px;
}

/*Adjust size of form input fields*/
.form-input {
  width: 400px;
  height: 50px;

}

/*Adjust message text are size*/
.message-textarea {
  width: 400px;
  height: 100px;
}

/*Styling for file upload button*/
.file-upload {
  margin-top: 30px;
}

/*Styling for submit button*/
.form-submit {
  margin-top: 30px;
}

/*Styling for other contact information*/
.other-contact {
  margin-top: 50px;
}

/*
3D Cans
*/

/*Styling for Peach and Passionfruit can*/
#peach-can {
  position: absolute;
  z-index: 1;
  height: 80%;
  width: 80%;
  padding-left: 12%;


}

/*Styling for Peach and Passionfruit can model-viewer*/
#peach-can model-viewer {
  height: 100%;
  width: 100%;
}

/*Styling for Raspberry and Hibiscus can*/
#raspberry-can {
  position: absolute;
  z-index: 1; 
  height: 80%;
  width: 80%;
  padding-left: 18%;
}

/*Styling for Raspberry and Hibiscus can model-viewer*/
#raspberry-can model-viewer {
  height: 100%;
  width: 100%;
}

/*Styling for Rhubarb and Apple can*/
#rhubarb-can {
  position: absolute;
  z-index: 1;
  height: 80%;
  width: 80%;
  padding-left: 18%;
  margin-top: 8%;
}

/*Styling for Rhubarb and Apple can model-viewer*/
#rhubarb-can model-viewer {
  height: 100%;
  width: 100%;
}
