body {
  font-family: 'Quicksand', sans-serif;
}

/* 
Sidebar styling
*/

/* Make the menu fixed to the top of the page */
header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: rgb(0 0 0 / 30%) 0px 0px 35px -20px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 15; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: #c9deff;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  right: 0px;
}

/* Style the burger menu */
nav .btn {
  color: white;
  font-size: larger;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

nav p {
  color: white;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav a:hover {
  color: #212529;
}

a.btn {
  border: 1px solid rgb(75, 75, 75) !important;
}

.splash-image {
  width: 100%;
}
