/*
Universal Styling
*/

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.pageTitle {
  margin-left: 15px;
}

a:hover {
  color: #e4690c;
}

.link-dark:hover, .btn-light:hover {
  color: #e4690c;
  border: 2px solid #e4690c !important;
  background-color: white;
}

.nav-icon:hover {
  color: #e4690c;
}

.cart-icon:hover {
  color: #e4690c;
}

/* 
Sidebar styling
*/

/* Make the menu fixed to the top of the page */
header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: rgb(0 0 0 / 30%) 0px 0px 35px -20px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 15; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  right: 0px;
}

/* Style the burger menu */
nav .btn {
  color: black;
  font-size: larger;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}


nav p {
  color: black;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav a:hover {
  color: #e4690c;
}

a.btn {
  border: 2px solid rgb(75, 75, 75) !important;
}

/*
Shop Styling
*/

.splash-image {
  width: 100%;
}

.shop-product-image {
  transition: transform .2s; /* Animation */
}

.shop-container {
  padding-bottom: 50px;
}

.overlay {
  transition: .2s;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 15px;
  cursor: pointer;
  background:rgba(255, 126, 244, 0);
}

.overlay:hover {
  background:rgba(255, 126, 244, 0.6);
}

.overlay-content {
  opacity: 0;
}

/*
Homepage Styling
*/

/* Styling for People and Planet animation on Homepage*/
.planet-animation {
  width: 65%;
}

.home-container {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.insta-container {
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.insta-imgs {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  padding-top: 50px;
}


.insta-link {
  color: black;
}

/*
Contact Page Styling
*/

.contact-container {
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  overflow: hidden;
  width: 100%;
}

.contact-card {
  padding-top: 50px;
}

.contact-desc {
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

/*Make required asterix on form red*/
.form-required {
  color: red;
}

/*Add padding to the form*/
.form {
  padding: 15px;
}

/*Add padding to the form fields*/
.form-field {
  padding-top: 30px;
  text-align: left;
  display: inline-block;
}

/*Adjust size of form input fields*/
.form-input {
  height: 50px;
}

/*Adjust message text area size*/
.message-textarea {
  height: 100px;
}

/*Styling for file upload button*/
.file-upload {
  margin-top: 30px;
}

/*Styling for submit button*/
.form-submit {
  margin-top: 30px;
  border: 2px solid black;
  font-size: larger;
}

/*Styling for other contact information*/
.other-contact {
  margin-top: 50px;
  margin-bottom: 70px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/*
3D Cans
*/

.drink-section {
  padding-bottom: 50px;
}

/*Styling for Peach and Passionfruit can*/
#peach-can {
  position: absolute;
  z-index: 1; /* So that the model is above splash image*/
  height: 80%; /* Entire model-viewer area set to 80% of its column*/
  width: 80%;
  padding-left: 12%; /* Padding to position can in middle of splash Image*/
  transition: all .2s ease-in-out;
}

#peach-can:hover {
  transform: scale(1.2);
}

/*Styling for Peach and Passionfruit can model-viewer*/
#peach-can model-viewer {
  height: 100%; /* Can itself takes up 100% of model-viewer*/
  width: 100%;
}

/*Styling for Raspberry and Hibiscus can*/
#raspberry-can {
  position: absolute;
  z-index: 1;  /* So that the model is above splash image*/
  height: 80%; /* Entire model-viewer area set to 80% of its column*/
  width: 80%;
  padding-left: 18%; /* Padding to position can in middle of splash Image*/
  transition: all .2s ease-in-out;
}

#raspberry-can:hover {
  transform: scale(1.2);
}

/*Styling for Raspberry and Hibiscus can model-viewer*/
#raspberry-can model-viewer {
  height: 100%; /* Can itself takes up 100% of model-viewer*/
  width: 100%;
}

/*Styling for Rhubarb and Apple can*/
#rhubarb-can {
  position: absolute;
  z-index: 1; /* So that the model is above splash image*/
  height: 80%; /* Entire model-viewer area set to 80% of its column*/
  width: 80%;
  padding-left: 16%; /* Padding to position can in middle of splash Image*/
  margin-top: 8%;
  transition: all .2s ease-in-out;
}

#rhubarb-can:hover {
  transform: scale(1.2);
}

/*Styling for Rhubarb and Apple can model-viewer*/
#rhubarb-can model-viewer {
  height: 100%; /* Can itself takes up 100% of model-viewer*/
  width: 100%;
}

/*
Product Styling
*/

.productCaroselItem {
  cursor: pointer;
  transition: transform .2s;
}

.productCaroselItem:hover {
  transform: scale(1.1);
}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 5%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 200px;
  height: 200px;
  opacity: 0;
}

/*
Privacy Policy Styling
*/

.privacy-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  justify-content: center;
}

.indent {
  margin-left: 40px;
}

.privacySection {
  margin-top: 40px;
}

/*
Terms and Conditions Styling
*/

.terms-section {
  margin-top: 40px;
}

.terms-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  justify-content: center;
}

/*
Shipping and Returns Stling
*/

.shipping-section {
  margin-top: 40px;
}

.shipping-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  justify-content: center;
}

/*
Stockist Styling
*/ 

/*Styling for Images of Stockist  Credits to Michael Mullany on Stack Overflow https://stackoverflow.com/questions/609273/convert-an-image-to-grayscale-in-html-css*/
.stockistImg{
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  transition: all .2s ease-in-out;
  padding-bottom: 30px;
}

/*Disable greyscale on hover*/
.stockistImg:hover{
  -webkit-filter: grayscale(0);
  filter: none;
  transform: scale(1.1);

}

.stock-container {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.stock-btn-cont {
  justify-content: center;
  margin-right: auto;
  margin-left: auto; 
}

.stock-btn {
  font-size: x-large;
  width: 200px;
}

/* Home page bubbles behind Instagram */

.bubble-container {
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.bubble-container2 {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  bottom: 0;
}

.dot {
  background-color: white;
  border-radius: 50%; /*makes shape from a square into a circle*/
  border: 3px solid pink;
  position: absolute;
}

.bubbleone {
	height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%; /*makes shape from a square into a circle*/
 
  margin: 100px;/*  space in between circles*/
  border: 3px solid pink;
  z-index: -1;
}

.bubbletwo {
	height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%; /*makes shape from a square into a circle*/
  
  border: 3px solid pink;
  z-index: -1;
  position:absolute;
  left: 0px;
  top: 100px;
  
}

.bubblethree {
	height: 75px;
  width: 75px;
  background-color: white;
  border-radius: 50%; /*makes shape from a square into a circle*/
 
  border: 3px solid pink;
	position: absolute;
  right: -400px;
  top: 700px;
  z-index:  -1;
}

.bubblefour {
	height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%; /*makes shape from a square into a circle*/
  
  border: 3px solid pink;
	position: absolute;
  
  bottom:  0px;
}


.numberone {
  height: 100px;
  width:100px;
 
  
 
  left: -400px;
  bottom: 200px;
  
}

.numbertwo {
  height: 50px;
  width: 50px;
 
  
  bottom: 200px;
  right: 0px;
}

.numberthree {
  height: 50px;
  width: 50px;
  
  

  bottom: 200px; 
}

.numberfour {
  height: 100px;
  width: 100px;
 
 
 
  
  bottom: 300px;  
  
}

.numberfive {
  height: 50px;
  width: 50px;
  
 
 

  right: 50px;
  bottom: 50px;
}


.numbersix {
  height: 75px;
  width: 75px;
  
  
}

.number-one {
  height: 50px;
  width: 50px;
  
  left: -400px;
  bottom:200px;
}

.number-two {
  height: 150px;
  width: 150px;
  
right: 100px;
  
}

.number-three {
  height: 50px;
  width: 50px;
 
 top: 150px;
 left: 300px;

}

.number-four {
  height: 50px;
  width: 50px;
 
  margin: 100px;/*  space in between circles*/
 
}

.number-five {
  height: 50px;
  width: 50px;
  
  top: -30px;

}

.number-six {
  height: 75px;
  width: 75px;
 
  bottom: 500px; 
}

.circles {
  width: 200px; 
  height: 200px;
  position: absolute;
  z-index: -1;
  bottom: -500px;
  right: 300px;
  
}



.circles2 {
  width: 200px; 
  height: 200px;
  position: absolute;
  z-index: -1;
 
  left: 800px; 

}

.circle {
  opacity: 0;
  width: 50px;
  border-radius: 100%;
  height: 50px;
  background-color: white;
  position: absolute;
  left: 0; right: 0; bottom: 0;
  margin: auto;
  border: 3px solid pink;
  z-index: -1;
}

/* contact page animation ---------------- */

.contact-bubbleone {
	height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%; /*makes shape from a square into a circle*/
  border: 3px solid pink;
 
  position: absolute;
  left: -300px;
  bottom: 100px
}


.contact-bubbletwo {
	height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%; /*makes shape from a square into a circle*/
 
  border: 3px solid pink;
 
  position:absolute;
  left: -200px;
  
}

.contact-bubblethree {
	height: 75px;
  width: 75px;
  background-color: white;
  border-radius: 50%; /*makes shape from a square into a circle*/
  
  border: 3px solid pink;
	position: absolute;
  right: -150px;
  top: 700px;

 
  z-index:  -1;
}

.contact-bubblefour {
	height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%; /*makes shape from a square into a circle*/
  
  border: 3px solid pink;
	position: absolute;
  left: -200px;
  top: 500px;
  z-index:  -1;
}


.contact-circles-one {
  width: 200px; 
  height: 200px;
  position: absolute;
  z-index: -1;
  bottom: 0px;
  left: -200px;
}

.contact-circle-one {
  opacity: 0;
  width: 50px;
  border-radius: 100%;
  height: 50px;
  background-color: white;
  position: absolute;
  left: 0; right: 0; bottom: 0;
  margin: auto;
  border: 3px solid pink;
}

.contact-circle-two {
  opacity: 0;
  width: 50px;
  border-radius: 100%;
  height: 50px;
  background-color: white;
  position: absolute;

  border: 3px solid pink;
}

.contact-circles-two {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: -1;
  bottom: 0px;
  right: -300px;
}

