.productImages, .productInfo{
    width: 50%;
}

.productInfo h4 {
    margin-bottom: 0;
}

.productRating {
    margin-bottom: 1em;
}

.productOptions{
    margin-bottom: 1em;
}

.packoption{
    margin-right: 1em;
}

.productFacts {
    margin-bottom: 1.75em;
}

.productFacts h3{
    margin-bottom: 1em  
}

.productCard{
    margin-right: 0.25em;
}

.productCard img, .productCard h4, .productCard h5, .productCard p{
    margin-bottom: 0;
}