footer{
    background-color: #f3c5bf;
    width: 100%;
}

footer a{
    color: black;
}

#socials{
    display: flex;
    margin-bottom: 1.5em;
    justify-content: center;
    padding-top: 10px;
}
  
.socialBtn{
    margin-right: 0.5em;
    border-radius: 50%;
}

.social-btn:hover {
    color: #e4690c;
}

.socialBtn i {
    margin-top: 0.3em;
    color: black;
}


#footerInfo{
    width: 100%;
    display: flex;
}

#footerCopyright{
    width: 50%;
    margin-left: 2em;
    text-align: center;
}

#footerCopyright p {
    font-size: x-small;
}

#footerCopyright h3 {
    font-size: large;
}

#footerNav{
    margin-left: calc(30% - 1em);
}

#footerLink{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    font-size: small;
    text-decoration: underline;

}

#footerLink a {
    color: black;
}

#footerLink a:hover{
    color: #e4690c;
}


/* RESPONSIVE - IPAD PRO Styling -------------------*/
@media all and (max-width: 1024px){
    #footerCopyright{
        width: 50%;
        margin-left: 2em;
    }

    #footerNav {
        width: calc(30% - 2em);
        margin-left: calc(30% - 1em);
    }
}

/* RESPONSIVE - TABLET Styling -------------------*/
@media all and (max-width: 768px){
    #footerCopyright {
        width: 50%;
        margin-left: 2em;
    }

    #footerNav {
        margin-left: calc(15% - 1em);
        width: auto;
    }
}

/* RESPONSIVE - MOBILE Styling -------------------*/
@media all and (max-width: 425px){
    #socials {
        margin-bottom: 0.75em;
    }

    #footerCopyright {
        width: 100%;
        margin-left: 1em;
    }

    #footerLink a {
        margin-right: 0.8em;
    }

    #footerCopyright {
        width: calc(50% - 2em);
        margin: 0 1em;
    }

    #footerCopyright p {
        margin-bottom: 0.25em;
    }

    #footerNav {
        width: calc(50% - 1em);
        margin: 0;
    }

}