.dot {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%; /*makes shape from a square into a circle*/
    display: inline-block; /* horizontal instead of vertical*/
    margin: 100px;/*  space in between circles*/
    border: 2px solid pink;
}

.bubbleone {
	height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 50%; /*makes shape from a square into a circle*/
    display: inline-block; /* horizontal instead of vertical*/
    margin: 100px;/*  space in between circles*/
    border: 2px solid pink;
}

.bubbletwo {
	height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%; /*makes shape from a square into a circle*/
    display: inline-block; /* horizontal instead of vertical*/
    margin: 100px;/*  space in between circles*/
    border: 2px solid pink;
}	

.bubblethree {
	height: 75px;
    width: 75px;
    background-color: white;
    border-radius: 50%; /*makes shape from a square into a circle*/
    display: inline-block; /* horizontal instead of vertical*/
    margin: 100px;/*  space in between circles*/
    border: 2px solid pink;
	position: absolute;
	right: 0px;
}
